<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<!--<add key="apiUrl" value="http://projectwebservice20170212032836.azurewebsites.net/" />-->
	<add key="apiUrl" value="http://localhost:28495/" />
	</appSettings>
</configuration>