<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://projectwebservice20170212032836.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>projectwebservice20170212032836.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProjectWebService20170212032836</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ProjectWebService20170212032836</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuthContext" Order="1" Enabled="False">
          <Destination Path="Data Source=barproject.database.windows.net;Initial Catalog=BarProject;User ID=malin;Password=!Q@W3e4r5t;Application Name=EntityFramework" Name="Data Source=barproject.database.windows.net;Initial Catalog=BarProject;User ID=malin;Password=!Q@W3e4r5t;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BarProject.WebService.Infrastructure.AuthContext, BarProject.WebService" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BarProjectEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=barproject.database.windows.net;Initial Catalog=BarProject;User ID=malin;Password=!Q@W3e4r5t;Application Name=EntityFramework" Name="Data Source=barproject.database.windows.net;Initial Catalog=BarProject;User ID=malin;Password=!Q@W3e4r5t;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BarProject.DatabaseConnector.BarProjectEntities, BarProject.DatabaseConnector" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=barproject.database.windows.net;Initial Catalog=BarProject;User ID=malin;Password=!Q@W3e4r5t;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BarProjectEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/BarProjectEntities.csdl|res://*/BarProjectEntities.ssdl|res://*/BarProjectEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=barproject.database.windows.net;Initial Catalog=BarProject;User ID=malin;Password=!Q@W3e4r5t;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AuthContext" />
  </ItemGroup>
</Project>